In [11]:
import pandas as pd

weather_data = [
("1/1/2017","new york",32,6,"Rain"),
("1/2/2017","new york",36,7,"Sunny"),
("1/3/2017","new york",28,12,"Snow"),
("1/4/2017","new york",33,7,"Sunny"),
("1/1/2017","mumbai",90,5,"Sunny"),
("1/2/2017","mumbai",85,12,"Fog"),
("1/3/2017","mumbai",87,15,"Fog"),
("1/4/2017","mumbai",92,5,"Rain"),
("1/1/2017","paris",45,20,"Sunny"),
("1/2/2017","paris",50,13,"Cloudy"),
("1/3/2017","paris",54,8,"Cloudy"),
("1/4/2017","paris",42,10,"Cloudy")
]

df = pd.DataFrame(data=weather_data, columns=['day','city','temperature','windspeed','event'])
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

**Q1. In which Days the weather was cloudy in each of these 3 cities?**

In [27]:
df[['day' ,'city']][df['event']=='Cloudy']

         day   city
9   1/2/2017  paris
10  1/3/2017  paris
11  1/4/2017  paris

**Q2. What was the maximum windspeed in each of these 3 cities**

In [65]:
max_windspeed_by_city = df.groupby("city")["windspeed"].max()

print(max_windspeed_by_city)

city
20    20
Name: windspeed, dtype: int64

In [66]:
df['windspeed'].max()

20

In [67]:
df["city"]

0     20
1     20
2     20
3     20
4     20
5     20
6     20
7     20
8     20
9     20
10    20
11    20
Name: city, dtype: int64